alembic
fastapi
uvicorn[standard]
sqlalchemy
supabase
Faker
requests
psycopg2
gunicorn
python-dotenv
python-multipart
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
apscheduler
qrcode
Pillow
cloudinary
resend
google-generativeai
stream-chat
celery[redis]
locust
pytest
pytest-asyncio
httpx
ruff
black
fastapi-limiter==0.1.6
redis
prometheus-fastapi-instrumentator
